# Terraform files
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl

# AWS credentials
*.pem
*.key

# Logs
*.log

# Ignore IDE specific files
.vscode/
.idea/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore temporary files
*.tmp
*.swp
*.bak
